.Footer {
  border-top: 2px solid var(--body-bg-color);
  min-height: var(--footer-height);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  font-size: 12px;
}
