.Input {
  border: 1px solid var(--button-border-color);
  color: var(--main-color);
  padding: 10px 15px;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 5px;
  font-size: 16px;
  min-height: 40px;
  display: block;
  width: 100%;

  &:disabled {
    opacity: 0.5;
  }
}

.inputWrapper {
  position: relative;
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  width: 100%;

}

.isError {
  border: 1px solid var(--error-color);

  &:focus {
    outline: 1px solid var(--error-color);
  }
}

.passwordShowToggleIcon {
  position: absolute;
  right: 8px;
  cursor: pointer;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  color: var(--main-color);
  font-size: 20px;
  padding: 5px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--button-border-color);

  &:disabled {
    opacity: 0.5;
  }
}

.isPassword {
  padding-right: 45px;
}
