*,
*::before,
*::after {
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--body-bg-color);
  color: var(--main-color);
}

* {
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  &::-webkit-scrollbar-track {
    background: #ddd;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #999;
    border-radius: 20px;
    border: 1px solid #ddd;
  }
}

:root {
  --header-height: 80px;
  --footer-height: 40px;
  --left-menu-width: 300px;
  //colors
  --body-bg-color: #ddd;
  --main-bg-color: #fff;
  --main-color: #333;
}

.dark {
  --body-bg-color: #222;
  --main-bg-color: #333;
  --main-color: #fff;
}
