.authLayoutWrapper {
  padding: 15px;
}

.AuthLayout {
  margin: 100px auto auto auto;
  max-width: 400px;
  background-color: var(--main-bg-color);
  padding: 20px 15px;
  border-radius: 10px;
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: flex-end;
}
