.LeftMenu {
  background-color: var(--main-bg-color);
  display: flex;
  flex-grow: 1;
  border-right: 2px solid var(--body-bg-color);
}

.enter {
  margin-left: calc(var(--left-menu-width) * -1);
}

.enterActive {
  margin-left: 0;
  transition: margin 300ms;
}

.exit {
  margin-left: 0;
}

.exitActive {
  margin-left: calc(var(--left-menu-width) * -1);
  transition: margin 300ms;
}
